{{define "yield"}}
<div class="container">
    <h2 class="my-3 text-center">Create your recipe</h2>
    <div class="card shadow rounded">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    {{template "createRecipeForm"}}
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "createRecipeForm"}}
<form action="/recipes" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="row">
        <div class="col-md-3 mb-3">
            <button type="submit" class="w-100 btn btn-primary">Create</button>
        </div>
        <div class="col-md-3">
            <a class="w-100 btn btn-secondary" href="/recipes">Cancel</a>
        </div>
    </div>
</form>
{{end}}